/* /// faq.html /// */
.faq__titulo {
  text-align: center;
  color: $color-primario;
  font-family: $fuente-secundaria;
  font-size: 3rem;
  font-weight: $fw-bold;
  margin-bottom: 3rem;
}

.faq__pregunta {
  position: relative;
  left: 0;
  max-width: 90%;
  background-color: #b9b8a9;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: $fuente-secundaria;
  font-size: 1.5rem;
  font-weight: $fw-bold;
  color: $color-secundario;
  border-left: $color-primario 10px solid;
}

.faq__respuesta {
  position: relative;
  left: 0;
  max-width: 90%;
  background-color: $color-primario;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: $fuente-secundaria;
  font-size: 1.5rem;
  font-weight: $fw-light;
  color: $color-secundario;
  margin-bottom: 2rem;
  border-left: #b9b8a9 10px solid;
}

/* fin faq.html */
