/* PRODUCTO.HTML */
.contenido__principal--producto {
  max-width: 100%;
  margin: 5rem auto auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.contenedor__imagen {
  background-color: transparent;
  overflow: hidden;
  display: inline-block;
}

.imagen__producto {
  max-width: 100%;
  max-height: 100%;
  transition: 2s;
}

.imagen__producto:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.contenido__principal--enlace {
  background-color: transparent;
  text-decoration: none;
}
/* fin productos.html */
